In [2]:
import pandas as pd
import numpy as np

In [ ]:
np.random.seed(101)
my_data = np.random.randint(0,101,(4,3))
my_data

In [ ]:
my_index = ["CA","NY","AZ","TX"]

my_columns = ["Jan","Feb","Mar"]
df = pd.DataFrame(my_data,my_index,my_columns)
df

In [ ]:
df = pd.read_csv("C:\\Coding\\python-projects\\ml-jose-portilla\\jose\\03-Pandas\\tips.csv")
df

In [ ]:
df.head(7)

In [ ]:
df.tail(7)

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df["total_bill"].max()

In [ ]:
df[["total_bill","tip"]]

In [ ]:
df[["total_bill", "tip"]].max()

In [ ]:
df["tip_percentage"] = 100 * df["tip"] / df["total_bill"]
df.head()

In [ ]:
df["tip_percentage"] = np.round(df["tip_percentage"],2)

df.head()

In [ ]:
df.describe()

In [ ]:
df.head()

In [18]:
df = df.drop("tip_percentage", axis=1)

In [ ]:
df.head()

In [ ]:
df.set_index("Payment ID")

In [21]:
df = df.set_index("Payment ID")

In [ ]:
df.head()

### ROW

In [ ]:
df.loc[["Sun2959", "Sun4608"]]

In [ ]:
df = df.drop(index=["Sun2959","Sun4608"])
df.head()

In [ ]:
df.drop("Sun8157",axis=0)

In [ ]:
new_row = df.loc["Sat17"]
new_row

In [28]:
df = pd.concat([df,pd.DataFrame([new_row])])

In [ ]:
df.tail()

In [31]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,213140353657882
Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2223727524230344

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,213140353657882
Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2223727524230344
...,...,...,...,...,...,...,...,...,...,...
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950