In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Coding\\python-projects\\ml-jose-portilla\\jose\\03-Pandas\\mpg.csv")

df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
df.groupby(["cylinders","model_year"]).mean(numeric_only=True)

                            mpg  displacement       weight  acceleration  \
cylinders model_year
3         72          19.000000     70.000000  2330.000000     13.500000
          73          18.000000     70.000000  2124.000000     13.500000
          77          21.500000     80.000000  2720.000000     13.500000
          80          23.700000     70.000000  2420.000000     12.500000
4         70          25.285714    107.000000  2292.571429     16.000000
          71          27.461538    101.846154  2056.384615     16.961538
          72          23.428571    111.535714  2382.642857     17.214286
          73          22.727273    109.272727  2338.090909     17.136364
          74          27.800000     96.533333  2151.466667     16.400000
          75          25.250000    114.833333  2489.250000     15.833333
          76          26.766667    106.333333  2306.600000     16.866667
          77          29.107143    106.500000  2205.071429     16.064286
          78          29.576471    112.117647  2296.764706     16.282353
          79          31.525000    113.583333  2357.583333     15.991667
          80          34.612000    111.000000  2360.080000     17.144000
          81          32.814286    108.857143  2275.476190     16.466667
          82          32.071429    118.571429  2402.321429     16.703571
5         78          20.300000    131.000000  2830.000000     15.900000
          79          25.400000    183.000000  3530.000000     20.100000
          80          36.400000    121.000000  2950.000000     19.900000
6         70          20.500000    199.000000  2710.500000     15.500000
          71          18.000000    243.375000  3171.875000     14.750000
          73          19.000000    212.250000  2917.125000     15.687500
          74          17.857143    230.428571  3320.000000     16.857143
          75          17.583333    233.750000  3398.333333     17.708333
          76          20.000000    221.400000  3349.600000     17.000000
          77          19.500000    220.400000  3383.000000     16.900000
          78          19.066667    213.250000  3314.166667     16.391667
          79          22.950000    205.666667  3025.833333     15.433333
          80          25.900000    196.500000  3145.500000     15.050000
          81          23.428571    184.000000  3093.571429     15.442857
          82          28.333333    225.000000  2931.666667     16.033333
8         70          14.111111    367.555556  3940.055556     11.194444
          71          13.428571    371.714286  4537.714286     12.214286
          72          13.615385    344.846154  4228.384615     13.000000
          73          13.200000    365.250000  4279.050000     12.250000
          74          14.200000    315.200000  4438.400000     14.700000
          75          15.666667    330.500000  4108.833333     13.166667
          76          14.666667    324.000000  4064.666667     13.222222
          77          16.000000    335.750000  4177.500000     13.662500
          78          19.050000    300.833333  3563.333333     13.266667
          79          18.630000    321.400000  3862.900000     15.400000
          81          26.600000    350.000000  3725.000000     19.000000

                        origin
cylinders model_year
3         72          3.000000
          73          3.000000
          77          3.000000
          80          3.000000
4         70          2.285714
          71          1.923077
          72          1.928571
          73          2.000000
          74          2.200000
          75          2.166667
          76          1.866667
          77          1.857143
          78          2.117647
          79          1.583333
          80          2.200000
          81          2.095238
          82          1.714286
5         78          2.000000
          79          2.000000
          80          2.000000
6         70          1.000000
          71          1.000000
          73          1.250000
          74          1.000000
          75          1.000000
          76          1.300000
          77          1.400000
          78          1.166667
          79          1.000000
          80          2.000000
          81          1.714286
          82          1.000000
8         70          1.000000
          71          1.000000
          72          1.000000
          73          1.000000
          74          1.000000
          75          1.000000
          76          1.000000
          77          1.000000
          78          1.000000
          79          1.000000
          81          1.000000

In [4]:
np.round(df.groupby(["cylinders","model_year"]).describe())

                       mpg                                            \
                     count  mean   std   min   25%   50%   75%   max
cylinders model_year
3         72           1.0  19.0   NaN  19.0  19.0  19.0  19.0  19.0
          73           1.0  18.0   NaN  18.0  18.0  18.0  18.0  18.0
          77           1.0  22.0   NaN  22.0  22.0  22.0  22.0  22.0
          80           1.0  24.0   NaN  24.0  24.0  24.0  24.0  24.0
4         70           7.0  25.0   1.0  24.0  24.0  25.0  26.0  27.0
          71          13.0  27.0   4.0  22.0  25.0  27.0  30.0  35.0
          72          14.0  23.0   3.0  18.0  21.0  23.0  26.0  28.0
          73          11.0  23.0   3.0  19.0  20.0  22.0  25.0  29.0
          74          15.0  28.0   3.0  24.0  26.0  26.0  31.0  32.0
          75          12.0  25.0   3.0  22.0  23.0  24.0  26.0  33.0
          76          15.0  27.0   4.0  19.0  25.0  27.0  29.0  33.0
          77          14.0  29.0   4.0  22.0  26.0  30.0  31.0  36.0
          78          17.0  30.0   6.0  21.0  24.0  30.0  33.0  43.0
          79          12.0  32.0   4.0  22.0  28.0  33.0  34.0  37.0
          80          25.0  35.0   7.0  24.0  30.0  34.0  41.0  47.0
          81          21.0  33.0   4.0  26.0  30.0  33.0  35.0  39.0
          82          28.0  32.0   5.0  23.0  28.0  32.0  36.0  44.0
5         78           1.0  20.0   NaN  20.0  20.0  20.0  20.0  20.0
          79           1.0  25.0   NaN  25.0  25.0  25.0  25.0  25.0
          80           1.0  36.0   NaN  36.0  36.0  36.0  36.0  36.0
6         70           4.0  20.0   2.0  18.0  20.0  21.0  21.0  22.0
          71           8.0  18.0   1.0  16.0  18.0  18.0  19.0  19.0
          73           8.0  19.0   2.0  16.0  18.0  18.0  20.0  23.0
          74           7.0  18.0   2.0  15.0  16.0  18.0  20.0  21.0
          75          12.0  18.0   2.0  15.0  16.0  18.0  19.0  21.0
          76          10.0  20.0   2.0  16.0  18.0  20.0  22.0  24.0
          77           5.0  20.0   2.0  18.0  18.0  19.0  20.0  22.0
          78          12.0  19.0   2.0  16.0  18.0  19.0  20.0  21.0
          79           6.0  23.0   4.0  20.0  20.0  21.0  25.0  29.0
          80           2.0  26.0  10.0  19.0  22.0  26.0  29.0  33.0
          81           7.0  23.0   4.0  18.0  21.0  24.0  25.0  31.0
          82           3.0  28.0   9.0  22.0  24.0  25.0  32.0  38.0
8         70          18.0  14.0   3.0   9.0  14.0  14.0  15.0  18.0
          71           7.0  13.0   1.0  12.0  13.0  14.0  14.0  14.0
          72          13.0  14.0   2.0  11.0  13.0  13.0  14.0  17.0
          73          20.0  13.0   1.0  11.0  12.0  13.0  14.0  16.0
          74           5.0  14.0   1.0  13.0  14.0  14.0  14.0  16.0
          75           6.0  16.0   2.0  13.0  14.0  16.0  16.0  20.0
          76           9.0  15.0   2.0  13.0  13.0  14.0  16.0  18.0
          77           8.0  16.0   1.0  15.0  16.0  16.0  16.0  18.0
          78           6.0  19.0   1.0  18.0  18.0  19.0  20.0  20.0
          79          10.0  19.0   3.0  16.0  17.0  18.0  19.0  24.0
          81           1.0  27.0   NaN  27.0  27.0  27.0  27.0  27.0

                     displacement         ... acceleration       origin       \
                            count   mean  ...          75%   max  count mean
cylinders model_year                      ...
3         72                  1.0   70.0  ...         14.0  14.0    1.0  3.0
          73                  1.0   70.0  ...         14.0  14.0    1.0  3.0
          77                  1.0   80.0  ...         14.0  14.0    1.0  3.0
          80                  1.0   70.0  ...         12.0  12.0    1.0  3.0
4         70                  7.0  107.0  ...         18.0  20.0    7.0  2.0
          71                 13.0  102.0  ...         19.0  20.0   13.0  2.0
          72                 14.0  112.0  ...         18.0  24.0   14.0  2.0
          73                 11.0  109.0  ...         19.0  21.0   11.0  2.0
          74                 15.0   97.0  ...         17.0  21.0   15.0  2.0
          75                 12.0  115.0  ...         17.0  18.0   12.0  2.0
          76                 15.0  106.0  ...         18.0  22.0   15.0  2.0
          77                 14.0  106.0  ...         17.0  19.0   14.0  2.0
          78                 17.0  112.0  ...         17.0  22.0   17.0  2.0
          79                 12.0  114.0  ...         16.0  25.0   12.0  2.0
          80                 25.0  111.0  ...         18.0  24.0   25.0  2.0
          81                 21.0  109.0  ...         17.0  21.0   21.0  2.0
          82                 28.0  119.0  ...         18.0  25.0   28.0  2.0
5         78                  1.0  131.0  ...         16.0  16.0    1.0  2.0
          79                  1.0  183.0  ...         20.0  20.0    1.0  2.0
          80                  1.0  121.0  ...         20.0  20.0    1.0  2.0
6         70                  4.0  199.0  ...         16.0  16.0    4.0  1.0
          71                  8.0  243.0  ...         16.0  16.0    8.0  1.0
          73                  8.0  212.0  ...         16.0  18.0    8.0  1.0
          74                  7.0  230.0  ...         17.0  18.0    7.0  1.0
          75                 12.0  234.0  ...         19.0  21.0   12.0  1.0
          76                 10.0  221.0  ...         18.0  21.0   10.0  1.0
          77                  5.0  220.0  ...         18.0  19.0    5.0  1.0
          78                 12.0  213.0  ...         17.0  19.0   12.0  1.0
          79                  6.0  206.0  ...         18.0  18.0    6.0  1.0
          80                  2.0  196.0  ...         17.0  19.0    2.0  2.0
          81                  7.0  184.0  ...         17.0  20.0    7.0  2.0
          82                  3.0  225.0  ...         17.0  17.0    3.0  1.0
8         70                 18.0  368.0  ...         12.0  18.0   18.0  1.0
          71                  7.0  372.0  ...         12.0  14.0    7.0  1.0
          72                 13.0  345.0  ...         14.0  16.0   13.0  1.0
          73                 20.0  365.0  ...         13.0  14.0   20.0  1.0
          74                  5.0  315.0  ...         16.0  16.0    5.0  1.0
          75                  6.0  330.0  ...         14.0  14.0    6.0  1.0
          76                  9.0  324.0  ...         14.0  15.0    9.0  1.0
          77                  8.0  336.0  ...         15.0  19.0    8.0  1.0
          78                  6.0  301.0  ...         14.0  16.0    6.0  1.0
          79                 10.0  321.0  ...         15.0  22.0   10.0  1.0
          81                  1.0  350.0  ...         19.0  19.0    1.0  1.0


                      std  min  25%  50%  75%  max
cylinders model_year
3         72          NaN  3.0  3.0  3.0  3.0  3.0
          73          NaN  3.0  3.0  3.0  3.0  3.0
          77          NaN  3.0  3.0  3.0  3.0  3.0
          80          NaN  3.0  3.0  3.0  3.0  3.0
4         70          0.0  2.0  2.0  2.0  2.0  3.0
          71          1.0  1.0  1.0  2.0  3.0  3.0
          72          1.0  1.0  1.0  2.0  3.0  3.0
          73          1.0  1.0  2.0  2.0  2.0  3.0
          74          1.0  1.0  2.0  2.0  3.0  3.0
          75          1.0  1.0  2.0  2.0  3.0  3.0
          76          1.0  1.0  1.0  2.0  2.0  3.0
          77          1.0  1.0  1.0  2.0  3.0  3.0
          78          1.0  1.0  1.0  2.0  3.0  3.0
          79          1.0  1.0  1.0  1.0  2.0  3.0
          80          1.0  1.0  2.0  2.0  3.0  3.0
          81          1.0  1.0  1.0  2.0  3.0  3.0
          82          1.0  1.0  1.0  1.0  3.0  3.0
5         78          NaN  2.0  2.0  2.0  2.0  2.0
          79          NaN  2.0  2.0  2.0  2.0  2.0
          80          NaN  2.0  2.0  2.0  2.0  2.0
6         70          0.0  1.0  1.0  1.0  1.0  1.0
          71          0.0  1.0  1.0  1.0  1.0  1.0
          73          1.0  1.0  1.0  1.0  1.0  3.0
          74          0.0  1.0  1.0  1.0  1.0  1.0
          75          0.0  1.0  1.0  1.0  1.0  1.0
          76          1.0  1.0  1.0  1.0  1.0  3.0
          77          1.0  1.0  1.0  1.0  1.0  3.0
          78          0.0  1.0  1.0  1.0  1.0  2.0
          79          0.0  1.0  1.0  1.0  1.0  1.0
          80          1.0  1.0  2.0  2.0  2.0  3.0
          81          1.0  1.0  1.0  1.0  2.0  3.0
          82          0.0  1.0  1.0  1.0  1.0  1.0
8         70          0.0  1.0  1.0  1.0  1.0  1.0
          71          0.0  1.0  1.0  1.0  1.0  1.0
          72          0.0  1.0  1.0  1.0  1.0  1.0
          73          0.0  1.0  1.0  1.0  1.0  1.0
          74          0.0  1.0  1.0  1.0  1.0  1.0
          75          0.0  1.0  1.0  1.0  1.0  1.0
          76          0.0  1.0  1.0  1.0  1.0  1.0
          77          0.0  1.0  1.0  1.0  1.0  1.0
          78          0.0  1.0  1.0  1.0  1.0  1.0
          79          0.0  1.0  1.0  1.0  1.0  1.0
          81          NaN  1.0  1.0  1.0  1.0  1.0

[43 rows x 40 columns]

In [5]:
year_cyl_mean = df.groupby(["model_year","cylinders"]).mean(numeric_only=True)
year_cyl_mean.loc[[70,82]]

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
82         4          32.071429    118.571429  2402.321429     16.703571
           6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
82         4          1.714286
           6          1.000000

In [6]:
year_cyl_mean.index

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

In [7]:
year_cyl_mean.xs(key=3,level="cylinders")

             mpg  displacement  weight  acceleration  origin
model_year
72          19.0          70.0  2330.0          13.5     3.0
73          18.0          70.0  2124.0          13.5     3.0
77          21.5          80.0  2720.0          13.5     3.0
80          23.7          70.0  2420.0          12.5     3.0

In [8]:
filtered_columns = (df["cylinders"].isin([6,8])) & (df["model_year"].isin([70,75,82]))

df[filtered_columns].groupby(["cylinders", "model_year"]).mean(numeric_only=True)

                            mpg  displacement       weight  acceleration  \
cylinders model_year
6         70          20.500000    199.000000  2710.500000     15.500000
          75          17.583333    233.750000  3398.333333     17.708333
          82          28.333333    225.000000  2931.666667     16.033333
8         70          14.111111    367.555556  3940.055556     11.194444
          75          15.666667    330.500000  4108.833333     13.166667

                      origin
cylinders model_year
6         70             1.0
          75             1.0
          82             1.0
8         70             1.0
          75             1.0

In [9]:
year_cyl_mean.swaplevel().groupby(["cylinders","model_year"]).mean()

                            mpg  displacement       weight  acceleration  \
cylinders model_year
3         72          19.000000     70.000000  2330.000000     13.500000
          73          18.000000     70.000000  2124.000000     13.500000
          77          21.500000     80.000000  2720.000000     13.500000
          80          23.700000     70.000000  2420.000000     12.500000
4         70          25.285714    107.000000  2292.571429     16.000000
          71          27.461538    101.846154  2056.384615     16.961538
          72          23.428571    111.535714  2382.642857     17.214286
          73          22.727273    109.272727  2338.090909     17.136364
          74          27.800000     96.533333  2151.466667     16.400000
          75          25.250000    114.833333  2489.250000     15.833333
          76          26.766667    106.333333  2306.600000     16.866667
          77          29.107143    106.500000  2205.071429     16.064286
          78          29.576471    112.117647  2296.764706     16.282353
          79          31.525000    113.583333  2357.583333     15.991667
          80          34.612000    111.000000  2360.080000     17.144000
          81          32.814286    108.857143  2275.476190     16.466667
          82          32.071429    118.571429  2402.321429     16.703571
5         78          20.300000    131.000000  2830.000000     15.900000
          79          25.400000    183.000000  3530.000000     20.100000
          80          36.400000    121.000000  2950.000000     19.900000
6         70          20.500000    199.000000  2710.500000     15.500000
          71          18.000000    243.375000  3171.875000     14.750000
          73          19.000000    212.250000  2917.125000     15.687500
          74          17.857143    230.428571  3320.000000     16.857143
          75          17.583333    233.750000  3398.333333     17.708333
          76          20.000000    221.400000  3349.600000     17.000000
          77          19.500000    220.400000  3383.000000     16.900000
          78          19.066667    213.250000  3314.166667     16.391667
          79          22.950000    205.666667  3025.833333     15.433333
          80          25.900000    196.500000  3145.500000     15.050000
          81          23.428571    184.000000  3093.571429     15.442857
          82          28.333333    225.000000  2931.666667     16.033333
8         70          14.111111    367.555556  3940.055556     11.194444
          71          13.428571    371.714286  4537.714286     12.214286
          72          13.615385    344.846154  4228.384615     13.000000
          73          13.200000    365.250000  4279.050000     12.250000
          74          14.200000    315.200000  4438.400000     14.700000
          75          15.666667    330.500000  4108.833333     13.166667
          76          14.666667    324.000000  4064.666667     13.222222
          77          16.000000    335.750000  4177.500000     13.662500
          78          19.050000    300.833333  3563.333333     13.266667
          79          18.630000    321.400000  3862.900000     15.400000
          81          26.600000    350.000000  3725.000000     19.000000

                        origin
cylinders model_year
3         72          3.000000
          73          3.000000
          77          3.000000
          80          3.000000
4         70          2.285714
          71          1.923077
          72          1.928571
          73          2.000000
          74          2.200000
          75          2.166667
          76          1.866667
          77          1.857143
          78          2.117647
          79          1.583333
          80          2.200000
          81          2.095238
          82          1.714286
5         78          2.000000
          79          2.000000
          80          2.000000
6         70          1.000000
          71          1.000000
          73          1.250000
          74          1.000000
          75          1.000000
          76          1.300000
          77          1.400000
          78          1.166667
          79          1.000000
          80          2.000000
          81          1.714286
          82          1.000000
8         70          1.000000
          71          1.000000
          72          1.000000
          73          1.000000
          74          1.000000
          75          1.000000
          76          1.000000
          77          1.000000
          78          1.000000
          79          1.000000
          81          1.000000

In [10]:
year_cyl_mean.sort_index(level="model_year",ascending=False)

                            mpg  displacement       weight  acceleration  \
model_year cylinders
82         6          28.333333    225.000000  2931.666667     16.033333
           4          32.071429    118.571429  2402.321429     16.703571
81         8          26.600000    350.000000  3725.000000     19.000000
           6          23.428571    184.000000  3093.571429     15.442857
           4          32.814286    108.857143  2275.476190     16.466667
80         6          25.900000    196.500000  3145.500000     15.050000
           5          36.400000    121.000000  2950.000000     19.900000
           4          34.612000    111.000000  2360.080000     17.144000
           3          23.700000     70.000000  2420.000000     12.500000
79         8          18.630000    321.400000  3862.900000     15.400000
           6          22.950000    205.666667  3025.833333     15.433333
           5          25.400000    183.000000  3530.000000     20.100000
           4          31.525000    113.583333  2357.583333     15.991667
78         8          19.050000    300.833333  3563.333333     13.266667
           6          19.066667    213.250000  3314.166667     16.391667
           5          20.300000    131.000000  2830.000000     15.900000
           4          29.576471    112.117647  2296.764706     16.282353
77         8          16.000000    335.750000  4177.500000     13.662500
           6          19.500000    220.400000  3383.000000     16.900000
           4          29.107143    106.500000  2205.071429     16.064286
           3          21.500000     80.000000  2720.000000     13.500000
76         8          14.666667    324.000000  4064.666667     13.222222
           6          20.000000    221.400000  3349.600000     17.000000
           4          26.766667    106.333333  2306.600000     16.866667
75         8          15.666667    330.500000  4108.833333     13.166667
           6          17.583333    233.750000  3398.333333     17.708333
           4          25.250000    114.833333  2489.250000     15.833333
74         8          14.200000    315.200000  4438.400000     14.700000
           6          17.857143    230.428571  3320.000000     16.857143
           4          27.800000     96.533333  2151.466667     16.400000
73         8          13.200000    365.250000  4279.050000     12.250000
           6          19.000000    212.250000  2917.125000     15.687500
           4          22.727273    109.272727  2338.090909     17.136364
           3          18.000000     70.000000  2124.000000     13.500000
72         8          13.615385    344.846154  4228.384615     13.000000
           4          23.428571    111.535714  2382.642857     17.214286
           3          19.000000     70.000000  2330.000000     13.500000
71         8          13.428571    371.714286  4537.714286     12.214286
           6          18.000000    243.375000  3171.875000     14.750000
           4          27.461538    101.846154  2056.384615     16.961538
70         8          14.111111    367.555556  3940.055556     11.194444
           6          20.500000    199.000000  2710.500000     15.500000
           4          25.285714    107.000000  2292.571429     16.000000

                        origin
model_year cylinders
82         6          1.000000
           4          1.714286
81         8          1.000000
           6          1.714286
           4          2.095238
80         6          2.000000
           5          2.000000
           4          2.200000
           3          3.000000
79         8          1.000000
           6          1.000000
           5          2.000000
           4          1.583333
78         8          1.000000
           6          1.166667
           5          2.000000
           4          2.117647
77         8          1.000000
           6          1.400000
           4          1.857143
           3          3.000000
76         8          1.000000
           6          1.300000
           4          1.866667
75         8          1.000000
           6          1.000000
           4          2.166667
74         8          1.000000
           6          1.000000
           4          2.200000
73         8          1.000000
           6          1.250000
           4          2.000000
           3          3.000000
72         8          1.000000
           4          1.928571
           3          3.000000
71         8          1.000000
           6          1.000000
           4          1.923077
70         8          1.000000
           6          1.000000
           4          2.285714

In [11]:
numeric_column = df.select_dtypes(np.number)


numeric_column.agg({"mpg": ["mean"],"acceleration": ["max"]})

            mpg  acceleration
mean  23.514573           NaN
max         NaN          24.8