In [82]:
import numpy as np
import pandas as pd
from datetime import datetime

In [83]:
myyear = 2014
mymonth = 3
myday = 10
myhour = 4
mymin = 30
mysec = 15

In [84]:
mydate = datetime(myyear,mymonth,myday)
mydate

datetime.datetime(2014, 3, 10, 0, 0)

In [85]:
mydatetime = datetime(myyear, mymonth, myday, myhour, mymin,mysec)
mydatetime

datetime.datetime(2014, 3, 10, 4, 30, 15)

In [86]:
mydatetime.date()

datetime.date(2014, 3, 10)

In [87]:
myseries = pd.Series(["9 Jan,2001","4 Oct,2004",None])

myseries = pd.to_datetime(myseries)

myseries

0   2001-01-09
1   2004-10-04
2          NaT
dtype: datetime64[ns]

In [88]:
obv_europe_date = "31-12-2004"

pd.to_datetime(obv_europe_date,dayfirst=True)

Timestamp('2004-12-31 00:00:00')

In [89]:
europe_data = "10-12-2001"

pd.to_datetime(europe_data,dayfirst=True)

Timestamp('2001-12-10 00:00:00')

In [90]:
style_date = "04--Jan--2014"

In [91]:
pd.to_datetime(style_date,format="%d--%b--%Y")

Timestamp('2014-01-04 00:00:00')

In [92]:
sales_df = pd.read_csv(
    "C:\\Coding\\python-projects\\ml-jose-portilla\\jose\\03-Pandas\\RetailSales_BeerWineLiquor.csv"
)

sales_df.head()

         DATE  MRTSSM4453USN
0  1992-01-01           1509
1  1992-02-01           1541
2  1992-03-01           1597
3  1992-04-01           1675
4  1992-05-01           1822

In [93]:
sales_df["DATE"]

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object

In [94]:
sales_df["DATE"] = pd.to_datetime(sales_df["DATE"])

sales_df["DATE"]

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [95]:
def get_year_only(date:datetime):
    return date.year

sales_df["DATE"].apply(get_year_only)

0      1992
1      1992
2      1992
3      1992
4      1992
       ...
335    2019
336    2020
337    2020
338    2020
339    2020
Name: DATE, Length: 340, dtype: int64

In [96]:
sales = pd.read_csv(
    "C:\\Coding\\python-projects\\ml-jose-portilla\\jose\\03-Pandas\\RetailSales_BeerWineLiquor.csv",
    parse_dates= ["DATE"]
    )
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    datetime64[ns]
 1   MRTSSM4453USN  340 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [97]:
sales = sales.set_index("DATE")

In [98]:
sales.resample(rule="YE").agg(["mean","count"])

           MRTSSM4453USN
                    mean count
DATE
1992-12-31   1807.250000    12
1993-12-31   1794.833333    12
1994-12-31   1841.750000    12
1995-12-31   1833.916667    12
1996-12-31   1929.750000    12
1997-12-31   2006.750000    12
1998-12-31   2115.166667    12
1999-12-31   2206.333333    12
2000-12-31   2375.583333    12
2001-12-31   2468.416667    12
2002-12-31   2491.166667    12
2003-12-31   2539.083333    12
2004-12-31   2682.416667    12
2005-12-31   2797.250000    12
2006-12-31   3001.333333    12
2007-12-31   3177.333333    12
2008-12-31   3292.000000    12
2009-12-31   3353.750000    12
2010-12-31   3450.083333    12
2011-12-31   3532.666667    12
2012-12-31   3697.083333    12
2013-12-31   3839.666667    12
2014-12-31   4023.833333    12
2015-12-31   4212.500000    12
2016-12-31   4434.416667    12
2017-12-31   4602.666667    12
2018-12-31   4830.666667    12
2019-12-31   4972.750000    12
2020-12-31   4922.500000     4

In [99]:
sales = pd.read_csv(
    "C:\\Coding\\python-projects\\ml-jose-portilla\\jose\\03-Pandas\\RetailSales_BeerWineLiquor.csv",
    parse_dates=["DATE"],
)

In [101]:
sales["DATE"].dt.month

0       1
1       2
2       3
3       4
4       5
       ..
335    12
336     1
337     2
338     3
339     4
Name: DATE, Length: 340, dtype: int32